$primary: #1da0f2;
$primary-light: #dd5840;
$primary-grey: #8799a6;
$primary-dark-light: #192734;
$primary-dark: #15212b;

$font-primary: $primary;
$font-light: #1acfcf;
$font-grey: $primary-grey;
$font-dark: #000;

$border-primary: $primary;
$border-light: rgb(134, 68, 68);
$border-grey: #38444d;
$border-dark: $primary-dark;

$background-light: rgb(219, 112, 112);
$background-grey-dark: $primary-dark;
$background-dark-light: $primary-dark-light;

$danger: #e0245e;